# De-prioritize HTML/CSS
*.html linguist-vendored
*.css linguist-vendored

# Include Jupyter Notebooks as Jupyter Notebook language
*.ipynb linguist-language=Jupyter Notebook
*.ipynb linguist-detectable=true

# Make sure Python is counted
*.py linguist-detectable=true

# Add detection for other languages if used
*.java linguist-detectable=true
*.js linguist-detectable=true
*.c linguist-detectable=true
*.cpp linguist-detectable=true

